*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.header{
    background-color: white;
    align-items: center;
    padding: 20px;
}

.menu{
    display: inline;
    padding: 30px;
}

.section-container{
    height: 100vh;
    width: 100%;
    display: flexbox;
    justify-content: start;
    align-items: center;
}

.background-section-one{
    background-image: url(../assets/OF_14_03_2020_RAFACOSTA-198-e1596217513220.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-container{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: white;
    border-radius: 25px;
    padding: 25px;
    max-width: 250px;
    display: grid;
}

form{
    display: grid;
}

input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 12px;
    background: black;
    color: white;
}

footer{
    height: 25px;
    padding: 25px;
    text-align: center;
    background-color: white;
    color: black;
}
